@{
    ViewData["Title"] = "Home Page";
}

<div class="front-part p-3">
    <div class="row m-3">
        <div class="col-sm-6">
            <div class="card front-card1 shadow p-3 mb-5 rounded">
                <p class="text-center front-icon1">
                    <i class="fas fa-search h-100 w-100"></i>
                </p>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tristique purus.
                        Fusce vehicula, orci eu elementum placerat, odio ipsum feugiat sapien, vel ultrices
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card front-card2 shadow p-3 mb-5 rounded">
                <p class="text-center front-icon2">
                    <i class="fas fa-lock h-100 w-100"></i>
                </p>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text p-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tristique purus.
                        Fusce vehicula, orci eu elementum placerat, odio ipsum feugiat sapien, vel ultrices
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="front-part2 p-3">

    <div class="row m-3">
        <div class="col-sm-6">
            <div class="card front-card10 shadow p-3 mb-5 rounded">
                <img src="https://cdn.sstatic.net/Img/home/illo-public.svg?v=14bd5a506009" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">A public platform building the definitive collection of coding questions & answers</h3>
                    <p class="card-text text-center">WA community-based space to find and contribute answers to
                        technical challenges, and one of the most popular websites in the world.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card front-card20 shadow p-3 mb-5 rounded">
                <img src="https://cdn.sstatic.net/Img/home/illo-teams.svg?v=7e543f14fcc0" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">A private collaboration & knowledge sharing SaaS platform for companies</h3>
                    <p class="card-text text-center">A web-based platform to increase productivity, 
                        decrease cycle times, accelerate time to market, and protect institutional knowledge..
                    </p>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="middle-part">
    <div class="middle-part1 ">
        <div class="row">
            <div class="col col-md-10 col-sm-10 col-lg-10 justify-content-center text-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg viewBox="0 0 100 100" width="50" height="50">
                        <!-- Lower rectangle -->
                        <rect x="25" y="75" width="30" height="10" fill="#0077cc" />
                        <!-- Middle rectangle -->
                        <rect x="20" y="60" width="40" height="10" fill="#0077cc" />
                        <!-- Top rectangle -->
                        <rect x="15" y="45" width="50" height="10" fill="#0077cc" />
                        <!-- Top circle -->
                        <circle cx="50" cy="35" r="5" fill="#0077cc" />
                    </svg>
                    <p style="color:white;">DiscussionOverflow</p>
                </a>
                <h6 style="color:white;">Capture your company’s knowledge and context in a discoverable format to unblock your team</h6>
            </div>
        </div>
    </div>
    <div class="middle-part2">
        <div class="row">
            <div class="col col-md-4 col-sm-6 col-lg-4 justify-content-center text-center">
                <div class="inside-middle-part text-center" >
                    <i class="far fa-check-circle"></i>
                    <h6>Accelerate time to market</h6>
                    <p>Shorten the time between initial idea and complete product. Take delays and misinformation out of the equation.</p>
                </div>
            </div>
            <div class="col col-md-4 col-sm-6 col-lg-4 justify-content-center text-center">
                <div class="inside-middle-part text-center">
                    <i class="far fa-check-circle"></i>
                    <h6>Increase productivity</h6>
                    <p>If somebody somewhere has the right answer, suddenly you have it too. Collaborate better in a remote-first world</p>
                </div>
            </div>
            <div class="col col-md-4 col-sm-6 col-lg-4 justify-content-center text-center">
                <div class="inside-middle-part text-center">
                    <i class="far fa-check-circle"></i>
                    <h6>Protect institutional knowledge</h6>
                    <p>People come and people go, but if you capture their contributions in one central place, that expertise sticks around.</p>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="last-part p-3">
    <div class="row m-3">
        
        <div class="col col-sm-6 col-md-3 col-lg-3">
            <div class="card last-card1 shadow p-1 mb-2 rounded">
                <p class="text-center front-icon1" style="color:#CCDFF2;">
                    <i class="fas fa-quote-right"></i>
                </p>
                <div class="card-body">

                    <p class="card-text">
                        Discussion Overflow for Teams has been a resource for our entire company.
                        Not only for developers to solve problems, it’s also enabled our sales field to answer
                        technical questions that help them close deals.
                    </p>
                    <hr />
                    <h5 class="card-title">Director of Product Management</h5>
                    <p class="card-text p-2">
                        Microsoft
                    </p>
                </div>
            </div>
        </div>

        <div class="col col-sm-6 col-md-3 col-lg-3">
            <div class="card last-card1 shadow p-1 mb-2 rounded">
                <p class="text-center front-icon1" style="color:#CCDFF2;">
                    <i class="fas fa-quote-right"></i>
                </p>
                <div class="card-body">

                    <p class="card-text">
                        Engineers should help solve the hardest questions, the unknowns, where being familiar with how the product was built is essential. 
                        But we don’t want to keep answering solved problems over and over again. 
                        That’s where Stack Overflow for Teams really helps.
                    </p>
                    <hr />
                    <h5 class="card-title">Director of Engineering</h5>
                    <p class="card-text p-2">
                        Elastic Cloud
                    </p>
                </div>
            </div>
        </div>

        <div class="col col-sm-6 col-md-3 col-lg-3">
            <div class="card last-card1 shadow p-1 mb-2 rounded">
                <p class="text-center front-icon1" style="color:#CCDFF2;">
                    <i class="fas fa-quote-right"></i>
                </p>
                <div class="card-body">

                    <p class="card-text">
                        As we started to use [Stack Overflow for Teams] and saw how nice it was to have a repository of information,
                        we started to see it spread to other teams. Our customer support team started using it,
                        our people success team started using it, next thing we knew,
                        we had [Slack] integrations all over the place.
                    </p>
                    <hr />
                    <h5 class="card-title">Engineering</h5>
                    <p class="card-text p-2">
                        Microsoft
                    </p>
                </div>
            </div>
        </div>

        <div class="col col-sm-6 col-md-3 col-lg-3">
            <div class="card last-card1 shadow p-1 mb-2 rounded">
                <p class="text-center front-icon1" style="color:#CCDFF2;">
                    <i class="fas fa-quote-right"></i>
                </p>
                <div class="card-body">

                    <p class="card-text">
                        What we love about Stack Overflow for Teams is that
                        it’s a very dynamic tool…there’s just so many ways to use this as a liaison between different
                        teams and different knowledge bases.
                    </p>
                    <hr />
                    <h5 class="card-title">Software Engineer</h5>
                    <p class="card-text p-2">
                        Lorem Ipsum
                    </p>
                </div>
            </div>
        </div> 
    </div>
</div>

@*<div class="footer-part p-3">
    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>About</h3>
                <ul>
                    <li><a href="">Tour</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Chat</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Legal</h3>
                <ul>
                    <li><a href="">Terms of Service</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Stack Exchange Network</h3>
                <ul>
                    <li><a href="">Technology</a></li>
                    <li><a href="">Culture & recreation</a></li>
                    <li><a href="">Life & arts</a></li>
                    <li><a href="">Science</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>*@
