
<nav class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
           
            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Questions"> <i class="fas fa-question-circle m-1"></i>Questions</a>
        </li>
        <li class="nav-item">
            
            <a class="nav-link" asp-area="" asp-controller="User" asp-action="QuestionTag"><i class="fas fa-tag m-1"></i>Tags</a>
        </li>
    </ul>
</nav>