
@model RegistrationModel
@{
    ViewData["Title"] = "Registration";
}


<div class="container-registration">
    <div class="row justify-content-md-center">
        <h4 class="registration-title fw-bold " style="color:black;">@ViewData["Title"]</h4>
        <hr />
        <div class="col-md-8 col-sm-12 col-lg-8 shadow p-3 mb-5 rounded">
            <form id="registerForm" asp-controller="Account" asp-action="Register" asp-area="" asp-route-returnUrl="@Model.ReturnUrl" method="post" asp-antiforgery="true">
                <h4>Create a new account.</h4>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="FirstName" class="form-control" autocomplete="given-name" aria-required="true" placeholder="FirstName" />
                    <label asp-for="FirstName">FirstName</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="LastName" class="form-control" autocomplete="family-name" aria-required="true" placeholder="LastName" />
                    <label asp-for="LastName">LastName</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Email">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <img class="text-center" asp-area="" asp-controller="Captcha" asp-action="GenerateCaptchaImage" src="@Url.Action("GenerateCaptchaImage", "Captcha", new { area = "" })" alt="" />
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="CaptchaInput" class="form-control" autocomplete="off" aria-required="true" placeholder="FirstName" />
                    <label asp-for="CaptchaInput">CaptchaInput</label>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                <hr />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}